<!-- <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-12">
        <div class="card">
            <img [src]="producto.img" class="card-img-top" [alt]="producto.nombre">
            <div class="card-body">
                <button [routerLink]="['/home']" class="btn btn-outline-dark btn-md btn-block">Volver</button>
            </div>
        </div>
    </div>
    <div class="col mb-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Producto: {{producto.nombre}}</h5>
                <p class="card-text"><b>Precio:</b> {{producto.precio}}</p>
                <p class="card-text"><b>Cantidad disponible:</b> {{producto.unidades}}</p>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur nisi totam error esse enim cum saepe sed, sunt, deleniti minima voluptates minus debitis at voluptatum incidunt. Tenetur, amet alias</p>
            </div>
        </div>
    </div>
</div> -->

<div class="card mb-3">
    <img [src]="producto.img" class="card-img-top img-fluid img-thumbnail" [alt]="producto.nombre">
    <div class="card-body">
        <h5 class="card-title">Producto: {{producto.nombre}}</h5>
        <p class="card-text"><b>Precio:</b> {{producto.precio}}</p>
        <p class="card-text"><b>Cantidad disponible:</b> {{producto.unidades}}</p>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur nisi totam error esse enim cum saepe sed, sunt, deleniti minima voluptates minus debitis at voluptatum incidunt. Tenetur, amet alias</p>
    </div>
</div>