<!-- Footer -->
<footer class="page-footer font-small bg-dark  text-white pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Presentado por: </h5>
            </li>
            <li class="list-inline-item">
                <h5 class="mb-1">John Cerinza</h5>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->
</footer>
<!-- Footer -->